html, body {
	margin: 0;
	font-family: "Source Sans Pro", "Helvetica", Arial, sans-serif;
}
html .clearfix:after {
	content: ".";
	height: 0;
	text-indent: -9999px;
	display: block;
	clear: both;
}

/* top */
#meta {
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #EEEEE8;
	border-bottom: 1px solid #D8D8C8;
}
.btn {
	cursor: pointer;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border: 1px solid #DDD;
	color: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 10px;
	margin: 0;
}

#logo {
	float: left;
	padding: 0 10px;
	height: 50px;
}
.nav-search {
	float: right;
	padding: 12px;
}
.nav-search input {
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #CCC;
	width: 200px;
	margin: 0;
}
#header_buttons {
	float: right;
	padding: 12px;
}
#loading {
	float: right;
	margin-right: 30px;
	padding: 50px;
	height: 18px;
	line-height: 50px;
}
#loading span {
	display: block;
	float: right;
	font-size: 10px;
	text-transform: uppercase;
	background: #FEFEC5;
	color: #000;
	font-weight: bold;
	padding: 5px 10px 3px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 1em;
	border: 1px solid #F0F0A2;
}
#sliders {
	display: none;
	padding: 10px 0;
	text-align: center;
	background: #EEEEE8;
}
#sliders .slider {
	display: inline-block;
	width: 120px;
	margin: 0 10px;
}
#sliders label {
	display: block;
	margin-bottom: 5px;
	font-size: 11px;
}
#sliders span {
	display: block;
	font-size: 10px;
	color: #888;
	text-align: center;
}
input[type=range] {
	
}
.api-info {
	float: right;
	color: #999;
	font-size: 12px;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
}
.api-info .api-info-label {
	margin-right: 5px;
}


/* chart */
#chart {
	margin-top: 49px;
}
circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
line.link {
  stroke: #999;
  stroke-opacity: .6;
}
g.name-hover {
	display: none;
}
g.name-hover rect {
	fill: #000;
	opacity: 0.7;
}
g.name-hover text {
	fill: #FFF;
	font-size: 12px;
}
g.expanded rect.expanded-bg {
	fill: #EEEEE8;
}
g.expanded text {
	fill: #333;
}
g.person:hover {
	cursor: pointer;
}
g.expanded:hover {
	cursor: move;
}
g.expanded text.close-expanded {
	font-size: 12px;
	fill: #999;
}
g.expanded text.close-expanded:hover {
	cursor: pointer;
}
g.show-connections:hover {
	cursor: pointer;
}
g.show-connections rect.show-connections-bg {
	fill: #D8D8C8;
}
g.show-connections text {
	fill: #555;
	font-size: 11px;
}
g.show-connections text:hover {
	fill: #000;
}
circle.aux-border {
	fill-opacity: 0;
	stroke: #FFF;
	stroke-width: 5;
}
.selection-modal {
	position: absolute;
	background: #F7F7F7;
	padding: 15px;
	z-index: 99999;
	left: 10px;
	bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 3px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 3px rgba(50, 50, 50, 0.5);
	max-height: 90%;
	overflow-y: auto;
}
.selection-modal-title {
	margin-bottom: 14px;
	font-size: 10px;
	color: #999;
	text-transform: uppercase;
}
.selection-modal-content {
	
}
.selection-modal-person {
	margin: 7px 0;
}
.selection-modal-person img {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	float: left;
	margin-right: 10px;
}
.selection-modal-person span {
	float: left;
	font-size: 13px;
	height: 20px;
	line-height: 20px;
}
.selection-modal-actions {
	margin-top: 20px;
}

.selection-modal-actions input {
	display: block;
	width: 100%;
}

.github-follow {
	cursor: pointer;
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	text-shadow: 0 1px 0 #222;
	font-size: 14px;
	border: 1px solid #890303;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}



/* login */
body.login {
	background: url(../images/logo-bg.png) no-repeat -150px -150px #FFF;
}
#login {
	margin: 20px;
	width: 350px;
	background: rgba(255,255,255,0.9);
	border: 1px solid #EEEEE8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 1px #EEE;
	-moz-box-shadow: 1px 1px 1px #EEE;
	box-shadow: 1px 1px 1px #EEE;
}
.login-logo {
	padding: 20px;
	font-size: 36px;
	text-align: center;
}
.github-option {
	padding: 20px;
	border-bottom: 1px solid #EEEEE8;
}
.github-option button {
	display: block;
	border: 1px solid #EEE;
	background: url(../images/github-logo-btn.png) no-repeat 20px 10px rgba(238,238,232,0.6);
	color: #555;
	font-size: 16px;
	padding: 12px 20px 12px 50px;
	font-family: "Source Sans Pro", "Helvetica", Arial, sans-serif;
	width: 100%;
}
.github-option button:hover {
	background-color: #EEEEE8;
}
.search-option {
	padding: 20px;
	border-bottom: 1px solid #EEEEE8;
}
.search-option label {
	display: block;
	font-size: 13px;
	margin-bottom: 8px;
	margin-left: 2px;
}
.search-option input {
	display: block;
	width: 299px;
	padding: 5px;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #EEEEE8;
}
.explanation {
	padding: 20px;
}
.explanation h2 {
	font-size: 18px;
	margin: 0 0 15px;
}
.explanation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.explanation ul li {
	font-size: 14px;
	margin: 15px 0;
}


#error_page {
	margin: 20px auto;
	width: 300px;
}
