<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"">
	
	<title>Nodal</title>

	<link rel="icon" type="image/png" href="/static/images/favicon.png">
	
	<link type="text/css" rel="stylesheet" href="static/css/nodal.css"/>
	<link type="text/css" rel="stylesheet" href="static/css/ui-lightness/jquery-ui-1.8.24.custom.css"/>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	
</head>
<body class="login">
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class="flashes">
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}

	<div id="login">
		<div class="login-logo"><img src="/static/images/logo.png" alt="Nodal"></div>
		<div class="login-options">
			<div class="github-option">
				<button type="button" class="js-github-login btn">Login with your GitHub profile</button>
			</div>
			<div class="search-option clearfix">
				<div id="search_form">
					<label>Or search for a GitHub account (no login required):</label>
		            <input id="search_field" placeholder="e.g. mbostock"/>
		        </div>
			</div>
			<div class="explanation">
				<h2>A word before you start</h2>
				<ul>
					<li><strong>Security</strong>Nodal asks for access to your GitHub profile. We provide a way for you to follow people while navigating your network graph. This is the only thing we change in your profile&mdash;scout's honor.</li>
					<li><strong>About</strong>This is a <a href="http://d3js.org/">D3.js</a> experiment by <a href="http://jvogt.net/">Jesse Vogt</a>, <a href="http://mattstockton.com">Matt Stockton</a>, and <a href="http://krisgosser.com">Kris G&ouml;sser</a>. We work at <a href="http://harqen.com">HarQen</a> in Milwaukee. The idea originally took second place at an Oracle Open World hackathon.</li>
					<li>Nodal is a fun way to view your network graph. We wanted to explore what it's like to navigate our network relationships visually. To illustrate the possibilities of node interactions, try drag-selecting a group of nodes. You can also click on individual nodes to get more detailed information and to expand the network.</li>
				</ul>
			</div>
	    </div>
	</div>
</body>

<script src="static/js/jquery-1.8.2.min.js"></script>
<script src="static/js/jquery-ui-1.8.24.custom.min.js"></script>
<script src="static/js/underscore-min.js"></script>
<script src="static/js/nodal.js"></script>
<script>
$(document).ready(function(){
	var rate_limit_remaining = 1000;
	
	$(".js-github-login").on("click",function(){
		window.location = "https://github.com/login/oauth/authorize?scope=user&client_id=" + "{{ client_id }}";
	});
	
    Nodal.add_stats_listener(function (data) {
    	rate_limit_remaining = data.API_RateLimit_Remaining;
    });
	
	$("#search_form").hide();
	
    $("#search_field").autocomplete({
        source:function (request, callback) {
            var format_data = function (matches) {
                var formatted_matches = _.map(matches, function (u) {
                    return {label:u.name || u.login, value:u.login};
                });

                callback(formatted_matches);
            }

            if(rate_limit_remaining <= 0){
            	// TODO KG Style
            	alert("No more API calls remaining! Login to continue trying Nodal out");
            	return;
            }
            Nodal.search(request.term, format_data);
        },
        select: function (evt, ui) {
            window.location = "/without-login?username=" + ui.item.value;
        }
    }).click(function () { this.select(); });


    $("#search_form").show();   
});
</script>

</html>
